@model IEnumerable<ISO20K.Models.ci>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.site_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ci_family.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ci_severity.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.site_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ci_family.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ci_severity.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ci_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ci_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ci_id })
        </td>
    </tr>
}

</table>
