@model IEnumerable<ISO20K.Models.ci_family>

@{
	ViewBag.Title = "Index";
}
	<style type="text/css">
		.node {
		}

		.link {
			stroke: #999;
			stroke-opacity: .6;
			stroke-width: 1px;
		}
	</style>
<h2>Index</h2>
@{
	var familyItems = ViewBag.items;
	var sb = ViewBag.sb;
}
<p>
	@Html.ActionLink("Create New", "Create")

	<!--下面是data value傳遞viewBag給JS-->
	<input type="hidden" id="customInput" data-value="@sb" />
	

	<div class="row">
		<div class="col-sm-12">

			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.sort_order)
					</th>
					<th></th>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.sort_order)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.family_id }) |
							@Html.ActionLink("Details", "Details", new { id = item.family_id }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.family_id })
						</td>
					</tr>
				}

			</table>
		</div>

		<div class="col-sm-3">
			
				source : @Html.DropDownList("source", (IEnumerable<SelectListItem>)ViewBag.sourceItem)<br />

				target : @Html.DropDownList("target", (IEnumerable<SelectListItem>)ViewBag.sourceItem)<br />

				type : <select name="type" id="type">
					<option value="#">type</option>
					<option value="is_a">IS_A</option>
					<option value="has">has</option>
				</select><br />
				<button onclick="getRelation()">submit</button>
				
				

		</div>

		<div class="col-sm-9">
			<svg id="test2" width="860" height="300"></svg>
		</div>

		
	</div>


