@model IEnumerable<ISO20K.Models.ci_family>

@{
	ViewBag.Title = "Index";
}
<style>
	#graph-container {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		background-color:#aebea9;
	}

	.sigma-edge {
		stroke:  #56435b;
	}

	.sigma-node {
		fill: #aebea9;
		stroke: #56435b;
		stroke-width: 2px;
	}

		.sigma-node:hover {
			fill: #625466;
		}

	.muted {
		fill-opacity: 0.1;
		stroke-opacity: 0.1;
	}
</style>
<style type="text/css">
	.node {
	}

	.link {
		stroke: #999;
		stroke-opacity: .6;
		stroke-width: 1px;
	}
</style>
<h2>Index</h2>
@{
	var familyItems = ViewBag.items;
	var sb = ViewBag.sb;
}
<p>
	@Html.ActionLink("Create New", "Create")
	@*@for (int i = 0; i < familyItems.Count; i++)
		{
		<p>@familyItems[i].family_id  @familyItems[i] : @familyItems[i].name </p>*@

	

	<!--下面是測試data value是否可傳遞JSON格式給JS-->

	<input type="hidden" id="customInput" data-value="@sb" />
	

	<div class="row">
		<div class="col-lg-12">

			<table class="table">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.name)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.sort_order)
					</th>
					<th></th>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.sort_order)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.family_id }) |
							@Html.ActionLink("Details", "Details", new { id = item.family_id }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.family_id })
						</td>
					</tr>
				}

			</table>
		</div>
		<div class="col-lg-12">
			<form name="relation" id="relation">
				source : @Html.DropDownList("source", (IEnumerable<SelectListItem>)ViewBag.sourceItem)<br />

				target : @Html.DropDownList("target", (IEnumerable<SelectListItem>)ViewBag.sourceItem)<br />

				type : <select name="type"id="type">
					<option value="#">type</option>
					<option value="is_a">IS_A</option>
					<option value="has">has</option>
				</select><br />
				<button onclick="getRelation()">submit</button>
			</form>
			
		</div>
		<div class="col-lg-6">
			<h2>D3_1</h2>

			<svg id="test3"></svg>
		</div>
		<div class="col-lg-6">
			<h2>D3_2</h2>
			<svg id="test2" width="560" height="300"></svg>
		</div>

		<!--

	<div class="col-lg-8" id="container">
				<div id="graph-container" style="height:400px"></div>
			</div>  -->
	</div>


